<style>
    p,a,h6{
        color: #696969;
        text-decoration: none;
    }

    a:hover{
        color: #3DADF2;
    }
</style>
<!-- Footer -->
<footer class="page-footer font-small text-white">

    <!-- Footer Links -->
    <div class="container text-center text-md-left ">

        <!-- Grid row -->
        <div class="row ">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4" style="padding-top:30px;">

                <!-- Content -->
                <!-- <h6 class="text-uppercase font-weight-light">JW Advisors Pty Ltd</h6> -->
                <p>
                    <a [routerLink]="['/home']">Home</a>
                </p>
                <p>
                    <a [routerLink]="['/services']">Services</a>
                </p>
                <p>
                    <a [routerLink]="['/contact']">Contact</a>
                </p>

            </div>
            <!-- Grid column -->


            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4" style="padding-top:30px;">

                <!-- Links -->
                <p>
                  <a href="tel:+61280061201">02 8006 1201</a>
                </p>

            </div>
            <!-- Grid column -->


            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4" style="padding-top:30px;">

                <!-- Links -->
                <p>
                    <a href="#">Level 20 Tower A, 821 Pacific Highway, Chatswood NSW 2067</a>
                </p>

            </div>
            <!-- Grid column -->


            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4" style="padding-top:30px;">

                <!-- Links -->
                <p>Copyright © 2021 <a href="https://www.jwadvisors.com.au/">JW Advisors</a> All Rights Reserved.</p>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
</footer>
<!-- Footer -->
