<div class="banner-wrap">
<!-----------------------------banner------------------------------------------------->
<img class="banner d-block w-100" src="assets/img/server_banner.jpg" alt="banner" style="width:100vw;">

<!-----------------------------caption------------------------------------------------->
<div class="carousel-caption d-none d-md-block">
        <div>Our Services</div>
</div>

<div class="carousel-sub-caption" style="">
	<div>It’s our mission to give small businesses
		comprehensive advice across all
		tax matters including business
		growth, super, and more</div>
  </div>
</div>

<!-----------------------------SMSF Setup------------------------------------------------->
<div class="jumbotron smsf-banner" style="margin-bottom:0px;">
	<div class="container">
	<div class="row">
	  <div class="col-md-5 col-lg-6 col-xl-6 mx-auto mb-4">
		<h1 class="display-6 text-left mb-5" id="smsf-title">
			Self-Managed Superannuation Fund Setup
		</h1>
		<div class="text-left mb-4"><p>There are many reasons Australians see SMSFs as an attractive investment to support them through retirement. SMSFs give you complete control over your investment decisions and wealth building strategy.</p></div>
		<div class="text-left mb-4"><p>You can create wealth for your family by pooling resources and assets from family members into one SMSF.</p></div>
		<div class="text-left mb-4"><p>The ATO closely monitors SMSF rules and obligations. JW Advisors can give you expert financial guidance to make sure your SMSF is professionally managed and achieves the best possible outcome for you.</p></div>
	</div>
  
	  <div class="col-md-5 col-lg-6 col-xl-6 mx-auto mb-4">
		<img class="d-block w-100 mb-4" src="assets/img/SMSF-setup.png" alt="SMSF-setup">
	  </div>
	</div>

	<p><b>Strategy:</b> SMSFs give you nearly unlimited investment options from farm land to priceless paintings. The JW Advisors team will handle your SMSF setup, documentation, and registration with ease and efficiency. You will control your super and be able to fund a comfortable retirement.</p>
	<p><b>Structure:</b> trust deed establishment can be complex and overwhelming. Our SMSF specialists help you achieve your super fund goals by making sure your trust deed is up to date with current super rules. We give you friendly, professional advice so you understand how your investments are structured to create wealth.</p>
	<p><b>Admin:</b> we do the hard work of dealing with the ATO, keeping accurate records, preparing benefits statements, lodging annual returns, delivering investment reports, and more. All you have to do is sign your name.</p>
	<p><b>Compliance:</b> an SMSF auditor will analyze your financial statements and conduct a compliance audit of your SMSF. JW Advisors can help you prepare annual statements and keep your fund in compliance with the constantly changing superannuation regulations.</p>
  </div>
  </div>

<!-----------------------------Tax Return------------------------------------------------->
<div class="jumbotron tax-return-banner" style="margin-bottom:0px;">
	<div class="container">
	<div class="row">
		<div class="col-md-5 col-lg-6 col-xl-6 mx-auto mb-0">
			<img class="d-block w-100 mb-4" src="assets/img/tax-return.png" alt="tax-return">
		  </div>

	  <div class="col-md-5 col-lg-6 col-xl-6 mx-auto mb-0">
		<h1 class="display-6 text-left mb-5" id="smsf-title">
			Income Tax Return For Company (Including Financial Statement)
		</h1>
		<div class="text-left mb-4"><p>Leaving tax returns too late means you miss out on opportunities to maximize your revenue. Enjoy stable business growth and up to millions in savings when our company tax specialists design a plan to protect your assets and maximize your deductions.</p></div>
		<div class="text-left mb-4"><p>Our accountants have 20+ years’ experience navigating the intricacies of Australian Taxation Law.</p></div>
		<div class="text-left mb-4"><p>We focus on convenience and efficiency to help you avoid penalties.</p></div>
		<div class="text-left mb-4"><p>You are guaranteed to have low cost returns.</p></div>
	</div>
	</div>
  </div>

  <div class="container">
	<div class="row">
	  <div class="col-md-5 col-lg-6 col-xl-6 mx-auto mb-4">
		<h1 class="display-6 text-left mb-5" id="smsf-title">
			Income Tax Return For Small Businesses, Trust & Partnership
		</h1>
		<div class="text-left mb-4"><p>Keep your small business returns, trusts, and partnerships in the safe hands of our accounting professionals. We give you friendly, personalized advice and help you avoid problems with the ATO.</p></div>
		<div class="text-left mb-4"><p>We make sure your small business tax return won’t attract an ATO audit.</p></div>
		<div class="text-left mb-4"><p>Preparing partnership tax returns for Australian businesses can be complicated. But we always lodge returns on time and help you reduce tax expenses.</p></div>
		<div class="text-left mb-4"><p>We manage your trust tax return expertly so taxes won’t waste your trust away.</p></div>
		</div>

		<div class="col-md-5 col-lg-6 col-xl-6 mx-auto mb-4">
			<img class="d-block w-100 mb-4" src="assets/img/tax-return2.png" alt="tax-return-2">
		  </div>
	</div>
  </div>
  </div>


<div class="jumbotron" style="margin-bottom:0px;">
	<div class="container text-center">
		<div class="row mb-5">
			<div class="col-md-5 col-lg-6 col-xl-6 mx-auto mb-4">
			<i class="fas fa-money-check-alt icon mb-5"></i>
			<div class="mb-3 mb-4"><h5>Income Tax Return for SMSF (Self-Managed Super Fund)</h5></div>
			<div><p>If you have a Self-Managed Superannuation Fund (SMSF), you need to lodge a tax return for your SMSF as well as your annual individual tax return. Without professional help, tax assessments will surprise you and wipe out the savings you plan to retire on.</p></div>
			
			<div class="row">
			<div class="col-md-1 col-log-1 clo-xl-1 mx-auto">
				&#8226;
			</div>
			<div class="col-md-11 col-log-11 clo-xl-11 mx-auto">
				<p class="text-left">Our trusted professionals can handle your SMSF Audit and your SMSF Return</p>
			</div>	
			</div>
			<div class="row">
				<div class="col-md-1 col-log-1 clo-xl-1 mx-auto">
					&#8226;
				</div>
			<div class="col-md-11 col-log-11 clo-xl-11 mx-auto">
				<p class="text-left">Our experts will reduce your SMSF taxes so your fund produces income</p>
			</div>	
			</div>
			<div class="row">
				<div class="col-md-1 col-log-1 clo-xl-1 mx-auto">
					&#8226;
				</div>
				<div class="col-md-11 col-log-11 clo-xl-11 mx-auto">
					<p class="text-left">We can determine whether your SMSF needs GST registration</p>
				</div>	
			</div>
			</div>
	
		  <div class="col-md-5 col-lg-6 col-xl-6 mx-auto mb-4">
			<i class="fas fa-hand-holding-usd icon mb-5"></i>
			<div class="mb-3 mb-4"><h5>Personal Tax Return</h5></div>
			<div><p>With over 25K tax returns completed, you can rest assured our specialists will get your tax done efficiently so you receive the highest possible return payment.</p></div>

			<div class="row">
				<div class="col-md-1 col-log-1 clo-xl-1 mx-auto">
					&#8226;
				</div>
				<div class="col-md-11 col-log-11 clo-xl-11 mx-auto">
					<p class="text-left">We can help you whether you’re self-employed or salaried</p>
				</div>	
				</div>
				<div class="row">
					<div class="col-md-1 col-log-1 clo-xl-1 mx-auto">
						&#8226;
					</div>
				<div class="col-md-11 col-log-11 clo-xl-11 mx-auto">
					<p class="text-left">Get advice on how to create and preserve long-term wealth</p>
				</div>	
				</div>
				<div class="row">
					<div class="col-md-1 col-log-1 clo-xl-1 mx-auto">
						&#8226;
					</div>
					<div class="col-md-11 col-log-11 clo-xl-11 mx-auto">
						<p class="text-left">We strategize the best way to minimize your liabilities</p>
					</div>	
				</div>
		</div>
	</div>

<!-----------------------------Row 1------------------------------------------------->
<div class="container text-center">
    <div class="row">
        <div class="col-md-3 col-lg-4 col-xl-4 mx-auto mb-4">
			<i class="fas fa-file-invoice-dollar icon mb-5"></i>
        <div class="mb-3 focus-subtitle"><h5>Cash Flow Preparation</h5></div>
        <div><p>Cash keeps your small business alive. Our accounting experts monitor and analyze where your money is coming in and where it is going out. We can help you make smart decisions about how your business operates.</p></div>
        </div>

      <div class="col-md-3 col-lg-4 col-xl-4 mx-auto mb-4">
        <i class="fas fa-search-dollar icon mb-5"></i>
        <div class="mb-3 focus-subtitle"><h5>Bookkeeping</h5></div>
        <div><p>We can save you from the hassle of organizing your books and preparing your paperwork. Enjoy more time to manage and grow your business.</p></div>
    </div>

      <div class="col-md-3 col-lg-4 col-xl-4 mx-auto mb-4">
        <i class="fas fa-question-circle icon mb-5"></i>
        <div class="mb-3 focus-subtitle"><h5>Business Advice</h5></div>
        <div><p>We help you achieve your dreams with superior business advice and financial expertise. Enjoy our wide range of business consulting services.</p></div>
      </div>
</div>

<!-----------------------------Row 2------------------------------------------------->
<div class="container text-center">
    <div class="row">
        <div class="col-md-3 col-lg-4 col-xl-4 mx-auto mb-4">
			<i class="fas fa-calculator icon mb-5"></i>
        <div class="mb-3 focus-subtitle"><h5>Tax Planning</h5></div>
        <div><p>Effective tax planning, or tax-effective investing, prevents individuals and businesses from paying more tax than they need to. We design solid tax plans that help you minimize tax and get the best possible return.</p></div>
        </div>

      <div class="col-md-3 col-lg-4 col-xl-4 mx-auto mb-4">
        <i class="fas fa-hammer icon mb-5"></i>
        <div class="mb-3 focus-subtitle"><h5>Company Setup</h5></div>
        <div><p>Starting a business means you have to choose from one of four business structures. Let us help you make the right choice and get your business started on the right path to success. In addition to registering your company’s name with ASIC, we can help you with PAYG, obtaining an ABN, GST Registration, and your Tax File Number. We can help you set up any business structures.</p></div>
    </div>

      <div class="col-md-3 col-lg-4 col-xl-4 mx-auto mb-4">
        <i class="fas fa-stamp icon mb-5"></i>
        <div class="mb-3 focus-subtitle"><h5>Trust Setup</h5></div>
        <div><p>We have the experience to assess risk, optimize benefits, and help you find the right trust to manage your wealth and protect you from creditors.</p></div>
      </div>
</div>

</div>