<div id="home-wrap">

<!-----------------------------Carousel------------------------------------------------->
<div id="carousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="assets/img/banner.jpg" alt="pic1" style="max-width:100vw;">
    </div>
    <!-- Caption -->
    <div class="carousel-caption" style="">
        <div>Make smarter business decisions</div>
    </div>

    <div class="carousel-sub-caption" style="">
      <div>and maximize your tax benefits with expert</div>
    </div>

    <div class="carousel-sub-2-caption" style="">
      <div>guidance from JW Advisors</div>
    </div>
  </div>
</div>

<!-----------------------------Our Focus------------------------------------------------->
<div class="jumbotron" style="margin-bottom:0px;">
    <h1 class="display-6 text-center mb-5" id="focus">We Are Your Personal
      Team Of Experts</h1>

    <div class="container text-center">
    <div class="row">
        <div class="col-md-3 col-lg-4 col-xl-4 mx-auto mb-4">
        <img class="d-block w-100 mb-4" src="assets/img/team1.jpg" alt="tax-return">
        <div class="mb-3 focus-subtitle"><h5>Individual Tax Return</h5></div>
        <div><p>JW Advisors has completed more than 20,000 tax returns in the last 2 decades and is ready to help you with everything you may need from basic tax returns to complex investments, including capital gain, foreign source income and more.</p></div>
        </div>

      <div class="col-md-3 col-lg-4 col-xl-4 mx-auto mb-4">
        <img class="d-block w-100 mb-4" src="assets/img/team2.jpg" alt="bookkeeping">
        <div class="mb-3 focus-subtitle"><h5>Bookkeeping</h5></div>
        <div><p>JW Advisors bookkeeping process is always supervised by professional accountants, rather than just relying on software. Our team of expert bookkeepers keep your books accurate and up to date, so you have more time to do the things you love.</p></div>
    </div>

      <div class="col-md-3 col-lg-4 col-xl-4 mx-auto mb-4">
        <img class="d-block w-100 mb-4" src="assets/img/team2.jpg" alt="bookkeeping">
        <div class="mb-3 focus-subtitle"><h5>SMSF STRATEGIST</h5></div>
        <div><p>Key benefits of having a SMSF include having direct control over your investments and wider choice of direct investment such as residential and commercial real estate. We can guide you to utilise tax saving SMSF strategies like Contribution & recontribution, tax free death benefit for non-depended children, TRIS and many more.</p></div>
      </div>
    </div>
</div>
</div>

<!-----------------------------Best Banner------------------------------------------------->
<div class="jumbotron best-banner" style="margin-bottom:0px;">
  <div class="container">
  <div class="row">
    <div class="col-md-5 col-lg-6 col-xl-6 mx-auto mb-4">
      <h1 class="display-6 text-left mb-5" id="we-are-best">
        Why we are<br/>the Best
      </h1>
      <div class="text-left mb-4"><p>We are not your average accountants. We treat you with genuine compassion and take the time to listen to your needs.</p></div>
      <div class="text-left mb-4"><p>JW Advisors creates a solid plan and accurate strategy to minimise your tax. That way, you are guaranteed to grow income, build wealth, and have peace of mind to focus on what matters to you.</p></div>
      <div class="text-left mb-4"><p>JW Advisors has professional partnership with all cloud-based accounting systems:</p></div>
      <div class="row align-items-center">
        <div class="col-md-2 col-lg-3 col-xl-3 mx-auto">
          <img class="d-block w-100 mb-4" src="assets/img/myob.png" alt="myob">
        </div>
        <div class="col-md-2 col-lg-3 col-xl-3 mx-auto">
          <img class="d-block w-100 mb-4" src="assets/img/xero.png" alt="xero">
        </div>
        <div class="col-md-4 col-lg-6 col-xl-6 mx-auto">
          <img class="d-block w-100 mb-4" src="assets/img/quickbooks.png" alt="quickbooks">
        </div>
      </div>
      
  </div>

    <div class="col-md-5 col-lg-6 col-xl-6 mx-auto mb-4">
      <img class="d-block w-100 mb-4" src="assets/img/why-we-are-best.png" alt="why-we-are-best">
    </div>
  </div>
</div>
</div>

<!-----------------------------Middle Banner----------------------------------------------->
<div id="service-button"></div>
<div class="container text-center">
  <div class="row">
      <div class="col-md-3 col-lg-4 col-xl-4 mx-auto mb-4 middle-banner">
        <div class="middle-banner-icon"><i class="fas fa-calculator"></i></div>
      <div class="mb-3"><h5>ACCOUNTING SOFTWARE EXPERTS</h5></div>
      <div><p>We have access to real-time data and master MYOB, QuickBooks and Xero Cloud Based Accounting Software. That allows us to prepare reports, payroll, handle all of your accounting needs and make more effective business decisions.</p></div>
      </div>

      <div class="col-md-3 col-lg-4 col-xl-4 mx-auto mb-4 middle-banner">
        <div class="middle-banner-icon"><i class="fas fa-store"></i></div>
      <div class="mb-3"><h5>SMALL BUSINESS SPECIALIST</h5></div>
      <div><p>Our accounting professionals help small businesses obtain maximum tax benefits by expertly navigating the constantly changing laws regarding small business concessions, as well as offering personalised advice to reduce unnecessary expenses.</p></div>
      </div>

      <div class="col-md-3 col-lg-4 col-xl-4 mx-auto mb-4 middle-banner">
        <div class="middle-banner-icon"><i class="fas fa-chart-bar"></i></div>
      <div class="mb-3"><h5>ACCOUNTING SOFTWARE EXPERTS</h5></div>
      <div><p>We have access to real-time data and master MYOB, QuickBooks and Xero Cloud Based Accounting Software. That allows us to prepare reports, payroll, handle all of your accounting needs and make more effective business decisions.</p></div>
      </div>
  </div>


<!-----------------------------Contact Baner------------------------------------------------->
<div id="contact-button">
    <div class="container text-center">
        <div class="button-banner mb-5">You Deserve One <br/> Of Our Best Accountants</div>
        <p>Talk now to one of our small business experts</p>
    </div>
</div>

</div>


